builds
venv
chromium-headless/cache
chromium-headless/share
preview-generator/.env
examples/docker-compose/.env
examples/docker-compose/chromium-cache
examples/docker-compose/redis-data
examples/docker-compose/tmp
examples/k8s/configmap.yml